[Desktop Entry]
Type=Application
Name=Clion
Exec=/home/yx/Applications/JetBrains/clion/bin/clion.sh
Icon=/home/yx/Applications/JetBrains/clion/bin/clion.png
Categories=Development;
